<div class="container">
  <div class="card">
    <div class="card-header" style="background-color: blanchedalmond;">
      API CALLING (GET METHODE)
    </div>

    <!-- for dropdown state search list-->
    <section class="form-group">
      <select class="form-control" #selectdata (change)="onSelect(selectdata)">
        <option value="">CHOOSE A STATE</option>
        <option *ngFor="let s of searchlist">{{s}} </option>
      </select>
    </section>
    <!--end dropdown search list-->

    <ng-container *ngIf="universityList !=0 then searchblock else entierblock"></ng-container>

    <ng-template #searchblock>
      <!--searchblock start here-->
      <div class="card-body">
        <table class="table table-primary table-hover-table-border">
          <thead>
            <tr>
              <th scope="col">NAME</th>
              <th scope="col">COUNTRY</th>
              <th scope="col">STATE</th>
              <th scope="col">Alpha_Two_code</th>
              <th scope="col">Web page</th>
              <th scope="col">Domain</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let a of universityList | paginate:
          { itemsPerPage: 15, currentPage:p, totalItems:totalulist }">
              <td>{{a.name}}</td>
              <td>{{a.country}}</td>
              <td>{{a['state-province']}}</td>
              <td>{{a['alpha_two_code']</td>
              <td>{{a['web_pages']}}</td>
              <td>{{a.domains}}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls> <!-- for paination-->
      </div> <!-- end here entier table-->
      <!-- seachblock end here-->
    </ng-template>


    <ng-template #entierblock>
      <!-- entier table with pagination-->
      <div class="card-body">
        <table class="table table-primary table-hover-table-border">
          <thead>
            <tr>
              <th scope="col">NAME</th>
              <th scope="col">COUNTRY</th>
              <th scope="col">STATE</th>
              <th scope="col">Alpha_Two_code</th>
              <th scope="col">Web page</th>
              <th scope="col">Domain</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let a of ulist | paginate:
          { itemsPerPage: 15, currentPage:p, totalItems:totalulist }">
              <td>{{a.name}}</td>
              <td>{{a.country}}</td>
              <td>{{a['state-province']}}</td>
              <td>{{a['alpha_two_code']</td>
              <td>{{a['web_pages']}}</td>
              <td>{{a.domains}}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls> <!-- for paination-->
      </div> <!-- end here entier table-->
    </ng-template>

  </div>
</div>